.homePage{
	max-width: 1200px;
	margin: auto;
	padding: 0 30px;
	display: grid;
	gap: 24px;
	padding-bottom: 80px;

	h4 {
		font: 500 unquote('24px/1.4') "Circular";
		color: black;
		margin: 0;
		margin-bottom: 14px;
	}
}

$w: Min(300px, 100%);

.contentGrid{
	display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 20px;
  grid-auto-flow: dense;
}

.card{
	border-radius: 24px;
	background: white;
	border: 1px solid #e4e4e4;
}

.intro{
	grid-column: 1 / 3;
	padding: 30px 40px;
	img {
		height: 120px;
		margin-bottom: 20px;
	}
	p {
		margin: 0;
		font: 400 unquote('16px/28px') "Circular";
		color: rgba(black, 0.7);
		span {
			font-weight: bold;
			font-family: 'Caveat', cursive;
			font-size: 44px;
			color: black;
		}
	}
}

.lfTime{
	grid-column: 1 / 3;

}

.lfTime, .princ{
	padding: 40px 30px 60px;

	position: relative;
	p{
		font: 400 16px/28px "Circular";
    color: rgba(0, 0, 0, 0.7);
	}
	.readMore {
		height: 36px;
		background: white;
		border-radius: 36px;
		padding: 0 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: 24px;
		left: 24px;
		cursor: pointer;
		border: 1px solid rgba(black, 0.1);
		font: 400 16px/1 "Circular";
		text-decoration: none;
		color: black;
		&:hover {
			background: rgba(black, 0.03);
		}
	}
}

.gh{
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #505050;
	position: relative;
	a{
		z-index: 2;
		position: absolute;
		height: 100%;
		width: 100%;
	}
	.ghimg {
		max-height: 180px;
		max-width: 100%;
	}
}

.map{
	overflow: hidden;
	position: relative;
	.mapimg{
		position: absolute;
		top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 400px;
	}
	a{
		z-index: 2;
		position: absolute;
		height: 100%;
		width: 100%;
	}
}

.lf, .lf2 {
	overflow: hidden;
	position: relative;
	.lfbg1{
		position: absolute;
		height: 100%;
	}
	a{
		z-index: 2;
		position: absolute;
		height: 100%;
		width: 100%;
	}
}

.lf{
	grid-column: 4;
	grid-row: 1 / 3;
	padding: 20px 30px;
	overflow: auto;
	background: #1c1c1c;
	position: relative;
	scroll-behavior: smooth;

	h4 {
		text-align: center;
		color: #f1f1f1;
	}
	h5 {
		font: 500 unquote('18px/1') "Circular";
		color: #f2f2f2;
		text-decoration: underline;
		margin-bottom: 14px;
	}

	.fixedContainer{
		position: sticky;
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: 0;
	}
	.scroll{
		height: 36px;
		background: white;
		border-radius: 36px;
		padding: 0 20px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		font: 400 unquote('15px/1') "Circular";
		color: #e5e5e5;
		li{
			&:not(:last-child){
				margin-bottom: 8px;
			}
		}
	}
}

.lf2{
	grid-column: 2 / 4;
	img {
		position: absolute;
		width: 100%;
		// height: 120%;
		// top: 50%;
		// transform: translateY(-50%);
	}
	.lfBanner{
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		background: black;
		font: 500 unquote('24px/1') "Circular";
		color: white;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.29%, rgba(0, 0, 0, 0.85) 100%);
		display: flex;
		align-items: flex-end;
		padding: 0 0 24px 24px;
	}
}

.external{
	height: 36px;
	width: 36px;
	background: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 14px;
	left: 14px;
	cursor: pointer;
	&.white{
		border: 1px solid rgba(black, 0.1);
	}
	img {
		height: 24px;
		width: 24px;
	}
}


@media (max-width: 1024px) {
	.map, .lf2, .lf {
		min-height: 300px;
	}
	.lf2{
		img {
			width: unset;
			height: 100%;
		}
	}
  .contentGrid {
    grid-template-columns: unset;
    grid-template-rows: unset;
    > * {
    	grid-column: unset;
    	grid-row: unset;
    }
  }
	.lf{
		.lfbg1 {
			width: 100%;
			height: unset;
		}
	}
}

// Yassir mentioned I am a fan of Navy SEALs hahaha. Fun fact, I am a big fan of reading/listening to books and I did read some books about team building, stress management, preparation, and motivation, these are topics I was and am still very excited about. A couple of those books were written by SEALs like David Goggins, and Jocko Willink.