$dark-1: #1c1c1c;
$grey-1: #464646;
$grey-2: #6f6f6f;
$grey-3: #b6b6b6;
$grey-4: #e4e4e4;

$white: white;
$white-1: #f1f1f1;
$white-2: #f2f2f2;
$white-3: #e5e5e5;

$hover-bg: #e9e9f2;
$hover-bg-2: #ededf0;

$blue-1: #1376fd;

$font-1: 'Lusitana';
$font-2: 'Circular';
